header.portfolioHeader {
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-top: 0px;
    // background-image: url("./../assets/headerBG.jpg");
    display: flex;
    align-items: center;
}

.headerColumns {
  display: flex;
  padding: 40px;
}

.navBar {
    overflow: hidden;
    position: fixed;
    list-style-type: none;
    top: 100px; 
    margin-left: -50px;
    border: 1px solid #565656;
    border-radius: 30px;
    padding: 7px 2px 7px 2px;
      li {
        a {
          text-decoration: none;
          
          }
        }
        i {
          color: #565656;
          transition: 0.3s;
          padding: 6px;
          margin: 10px;
            &:hover {
              color: #29e98c;
            }
      }
  }

  .leftSideBar {
    display: flex;
    flex-direction: column;
    border: 1px solid #565656;
    border-radius: 30px;
    padding: 50px;
    max-width: 484px;
    max-height:790px;
  }

  .leftSideBarTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: -20px;
    margin-bottom: 23px;  
  }

  .leftSideBarMid {
    display: flex;
    justify-content: center;
    margin-top: 24px;
      h4 {
        line-height: .6rem;
      }
  }

  .leftSideBarBot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
      i {
        transition: 0.3s;
      }
  }

  .imgContainer {
      img {
        max-width: 100%;
        border-radius: 30px;
      }
  }

  .imgContainerMediaQuery {

    display: none;
  }

  .headerMidColumn {
    padding: 30px 10px 0px 100px;
    max-width: 60%;
  }

  .socialsIcons {
      list-style-type: none;
      position: relative;
        li {
          display: inline-block;
        a {
          text-decoration: none;
          }
        }
        i {
          color: #565656;
          border: 1px solid #565656;
          border-radius: 50%;
          padding: 6px;
          margin: 10px 10px -10px 10px;
            &:hover {
              color: #29e98c;
            }
        }
      }

    .headerRightColumn {
      position: relative;
      margin-left: 200px;
    }



